


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body">
          <p>Click on sites to view the sagebrush focal site data associated with it.</p>
          <p>Consensus and confidence are shown in the bottom left window along with raw values taken from available datasets at that location.</p>
          <p>Click and drag with the left mouse button to move the map, and hold the right mouse button to rotate the scene.</p>
          <p>Additional controls are available under the Terrain Controls menu in the bottom right.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>