<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload NetCDF4 File</title>
</head>
<body>
        <div class="container">
        <form enctype="multipart/form-data" class="form-signin" method="post">
            {% block title %}
            {% endblock title %}
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-inline">
                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                </span>
                            {% endif %}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-actions">
                <button id="submit-btn" type="submit" class="btn btn-primary btn-block" >Submit</button>
            </div>
        </form>
    </div>
</body>
</html>